@{
    ViewBag.Title = "Dolgozo törlése";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center; background-color: #FF0000;">@ViewBag.Hiba</h2>

<div>
    @Html.ActionLink("Vissza", "Index", "ListaModel")
</div>